<div class="modal fade bs-example-modal-sm modal-action-success" id="actionSuccessModal" tabindex="-1" role="dialog" aria-labelledby="actionSuccessModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="actionSuccessModalLabel">操作成功 <img src="/Resource/assets/images/icon_success.png"/></h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center" data-bind="text: successText"></h4>
      </div>
    </div>
  </div>
</div>