<style>
  .pagination {
    margin: 0 !important;
  }

    .pagination > li > a, .pagination > li > span {
      margin: 4px;
      padding: 0px 6px !important;
      color: #777 !important;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
      background-color: #00bbfb !important;
      border-color: #00bbfb !important;
      color: #fff !important;
    }
</style>

<nav class="text-center">
  <ul class="pagination">
    <li class="">
      <span aria-hidden="true"><</span>
    </li>
    <li class="active">
      <span>1 <span class="sr-only">(current)</span></span>
    </li>
    <li class="">
      <span>2 <span class="sr-only">(current)</span></span>
    </li>
    <li class="">
      <span>3 <span class="sr-only">(current)</span></span>
    </li>
    <li class="">
      <span style="border: none">... <span class="sr-only">(current)</span></span>
    </li>

    <li class="">
      <span>120 <span class="sr-only">(current)</span></span>
    </li>
    <li class="">
      <span>></span>
    </li>
  </ul>
</nav>
