html, body {
  margin: 0 auto;
  min-width: 1200px;
  background: #f9f9f9;
}

.container-fluid {
  padding: 0;
}

.default-bg, #header {
  background: #00bbfb;
}

  /*--导航start---*/
  #header, #header .navbar-brand {
    height: 60px;
  }

#header {
  border: none;
  border-radius: 0;
  margin: 0;
}

  #header .navbar-brand {
    width: 204px;
    background: url(/assets/images/default_logo.png) no-repeat 20px center;
    margin-right: 20px;
  }
/*--导航end---*/
