ul li p:first-child {
  text-align: right;
  width: 115px;
  display: inline-block;
  color: #999;
  float: left;
}

ul li p:last-child {
  color: #333;
}

.contentStyle {
  margin-top: 20px;
}

  .contentStyle img {
    padding-top: 23px;
    margin-right: 5px;
  }

  .contentStyle h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  .contentStyle ul {
    margin-left: 50px;
  }
