html, body {
  margin: 0 auto;
  min-width: 1200px;
  height: 100%;
  font-family: '黑体', 'Helvetica Neue', Helvetica, sans-serif !important;
}

.form-control[readonly] {
  cursor: default;
}

.display-inline-block, .city-title {
  display: inline-block;
  vertical-align: middle;
}

h3 {
  margin-bottom: 20px !important;
}

/*版心宽*/
.contentWidth {
  width: 1200px;
  margin: auto;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/*主要文字显示(标题，段落，主要文字)*/
.mainTextColor {
  color: #333;
}

/*提示性文字显示(输入框内容默认文字)*/
.promptTextColor {
  color: #999;
}

/*次要文字显示(输入框标题)*/
.secondaryTextColor, .page-action a, .page-action a:hover, h3 a, h3 a:hover, .city-list a {
  color: #777;
}

.color-fff, .btn-secondary, .btn-secondary:hover {
  color: #fff !important;
}

#selectedCityModal .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.city-list a:hover, .dropdown-menu-default li a:hover {
  color: #00bbfb !important;
}

/*验证提示*/
.help-block {
  color: #fc807e;
}

/*其他颜色（显示详情，发布，下载等按钮颜色）*/
.otherBtn {
  background: #6a98ec;
}

a:focus, button:focus, input, input:focus, .form-control, .form-default .input-group .input-group-addon img:focus, .form-default .input-group:focus, .form-default .input-group-addon {
  outline: none !important;
  box-shadow: none !important;
}

/*.form-default .input-group .input-group-addon, 
.form-default .get-code, 
.modal-content-default .modal-body, 
.modal-action-success .modal-header, 
.modal-action-success .modal-body {
  padding: 0;
}*/

.city-title {
  margin: 0;
}

.default-bg, #header, .btn-info, .btn-info:hover, .btn-info:focus {
  background-color: #00bbfb !important;
}

  .btn-info, .btn-info:hover, .btn-info:focus {
    border-color: transparent !important;
  }

.bg-less {
  background: #eee;
}

.form-default .input-group .input-group-addon, .form-default .input-group input, .bg-more {
  background: #fff;
}

/*自定义按钮*/
.btn-angle, .ul-dropdown-angle {
  border-radius: 0 !important;
}

.nav-tabs {
  margin-top: 14px;
  border-bottom: 2px solid #00bbfd !important;
}

  .nav-tabs > li:first-child {
    /*margin-left: 60px;*/
  }

/*阴影*/
/*验证提示*/
/*.help-block {
  position: absolute;
  left: 0;
  top: 38px;
  margin: 0;
}*/

.boxShadow {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15) !important;
}

.content-wrapper {
  padding: 0 20px;
}

h3 a {
  font-size: 14px;
}

h3 a {
  line-height: 26px;
}

#header, .form-default .input-group .input-group-addon, .form-default .form-group input {
  border-radius: 0 !important;
}


.modal-content-default {
  padding: 20px;
}

  .modal-content-default .modal-header {
    padding: 0 0 20px 0;
  }

    .modal-content-default .modal-header .close {
      margin: -50px -60px 0 0;
      opacity: 1;
    }

#selectedCityModal .modal-dialog {
  margin: 10% auto;
}

/*---登录注册模块start----*/
.form-default h3 img {
  margin-right: 10px;
}

.main-content-400 {
  width: 460px;
  margin: 0 auto;
}

.dropdown-menu-default {
  width: 100%;
}

.main-box {
  border: 1px solid #eee;
  padding: 10px 30px 30px;
  background: #f9f9f9;
  margin-top: 100px;
}

.back-to-login-link {
  line-height: 25px;
  margin: 20px 0 20px 10px;
}

  .back-to-login-link i {
    top: 2px;
  }

.form-default .form-group {
  margin: 0 !important;
}
  /*验证提示*/
  .form-default .form-group .help-block {
    margin: 5px 0 5px 0;
  }

.form-default .input-group input {
  border-left: none;
}

.form-default .input-group .input-group-addon img {
  height: 36px;
  margin: -6px -12px;
}

.form-default .form-group input, .form-default .form-group .input-group-btn button, .btn-info {
  height: 38px;
  line-height: 24px;
}

.form-default .form-group .input-group-btn button, .form-default .form-group .tip {
  padding: 0 12px;
}

/*.form-default .code-input {
  padding: 0 40px 0 0;
}*/

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background: #6a98ec;
  border-color: #6a98ec;
}

.form-default .get-code button {
  margin-top: 2px;
}


.form-default .input-group-focus {
  box-shadow: 0 0 20px rgba(0, 187, 253, .2);
  outline: rgba(0, 187, 253, .2) solid 1px;
}

  .form-default .input-group-focus input.form-control, .form-default .input-group-focus .input-group-addon, .form-default .input-group-focus .dropdown-toggle {
    border-color: rgba(0, 187, 253, .2);
  }

.margin-top-20 {
  margin-top: 20px;
}

.btn-submit, .margin-top-70 {
  margin: 70px auto 0 !important;
}

.padding-20 {
  padding: 20px;
}

.padding-10 {
  padding: 10px;
}

.form-default .form-group .tip:before, .form-default .form-group .tip:after, .form-default .form-group .tip {
  position: absolute;
}

  .form-default .form-group .tip:before, .form-default .form-group .tip:after {
    content: "";
    top: 9px;
    border-bottom: 8px solid transparent; /* 下边框的高 */
    border-top: 8px solid transparent; /* 上方边框的高 */
  }

  .form-default .form-group .tip:before {
    left: -11px;
    border-right: 10px solid #fc807e; /* 右边框的长度|宽度，以及背景色 */
  }

  .form-default .form-group .tip:after {
    left: -9px;
    border-right: 10px solid #fff; /* 右边框的长度|宽度，以及背景色 */
  }


.btn-info, .btn-info:hover {
  width: 100%;
}
/*---登录注册模块end----*/
.modal-content-default {
  padding: 15px;
}

  .modal-content-default .more {
    position: absolute;
    top: 0;
    right: 8px;
  }

    .modal-content-default .more a {
      background: url(/Resource/assets/images/icon_selectcity_more.png);
      width: 10px;
      height: 10px;
    }

  .modal-content-default .less a {
    background: url(/Resource/assets/images/icon_selectcity_less.png);
  }

#actionSuccessModal {
  top: 25%;
}

.city-list-wrap {
  position: relative;
  margin: 10px 0;
  padding: 0 5px;
}

.city-list {
  width: 96%;
  padding: 0 20px 0 25px;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.mine.city-list li {
  padding: 0 0 0 12px !important;
}

.city-list a {
  padding: 5px 12px 5px 0;
}

/*tab选项卡*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #fff !important;
  border: 1px solid #00bbf9;
  border-bottom-color: #00bbf9;
  background: #00bbf9;
}

.nav > li > a {
  color: #777;
  padding: 4px 15px;
}

.nav-tabs > li > a {
  border-radius: 0;
}

  .nav-tabs > li > a:hover {
    /*border-color: transparent !important;*/
  }

.nav > li > a:focus, .nav > li > a:hover {
  /*background-color: transparent !important;*/
}


/*操作成功模态框*/
.modal-action-success .modal-content {
  padding: 10px;
}

.modal-action-success .modal-header {
  border-bottom: none;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  /*.form-default .form-group .code-input {
    padding: 0 20px 0 0;
  }*/

  .navbar-nav > li > a {
    padding-top: 20px !important;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%,0,0);
    transform: translate3d(-20%,0,0);
  }
}

/* padding */
.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pd-25 {
  padding: 25px;
}

.pd-30 {
  padding: 30px;
}
