nav .page {
  height: 30px;
}

  nav .page li {
    display: inline-block;
    width: 88px;
    margin-right: 25px;
  }

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.color-5562dd {
  color: #5562dd;
}

.color-f0006f {
  color: #f0006f;
}

.color-29c7e5 {
  color: #29c7e5;
}

.color-3683e4 {
  color: #3683e4;
}

.color-46dd3b {
  color: #46dd3b;
}

.color-fe0100 {
  color: #fe0100;
}

.color-ebb703 {
  color: #ebb703;
}

.color-yifabu {
  color: #31a156;
}

.color-daishenhe {
  color: #f2a541;
}

.color-shibai {
  color: #f64f4f;
}

.color-ea3333 {
  color: #ea3333;
}

.color-a8a8a8 {
  color: #a8a8a8;
}

.pagination > .active > .pagenum-color {
  background-color: #fff !important;
  border-color: #ea3333 !important;
  color: #ea3333 !important;
}

.pagination > li > .pagenum-color {
  background-color: #fff !important;
  border-color: #bbb !important;
  color: #bbb !important;
}

.pagin-color {
  background-color: #ea3333 !important;
  color: #ffffff !important;
}

.goPage input {
  height: 34px;
  line-height: 34px;
  width: 50px;
  font-size: 16px;
  outline: none;
  vertical-align: middle;
  margin:  0 auto 0 8px;
}

.goPage input[type="button"] {
  margin-top: 0;
}

.mr-20 {
  margin-right: 20px;
}

.width-20 {
  width: 20px !important;
}

.height-35 {
  height: 35px;
}

.widthheight-100 {
  width: 100%;
  height: 100%;
}

.mr-8 {
  margin-right: 8px;
}

.mr-6 {
  margin-right: 6px;
}

.width-20 {
  width: 20px !important;
}

.height-35 {
  height: 35px;
}

.widthheight-100 {
  width: 100%;
  height: 100%;
}

.width-100 {
  width: 100%;
}
