@{
    ViewBag.Title = "智地数据";
    Layout = "~/Views/Shared/Master/_ZDFront.cshtml";
}

@section header{
  <link href="~/Resource/assets/css/detail.css" rel="stylesheet" />
}

@section Content{

  <div class="contentWidth" style="margin-bottom: 150px;">
    <div class="boxShadow padding-20 contentStyle">
      <img class="pull-left" src="~/Resource/assets/images/icon_mark_newSale.png" />
      <h3>基本情况</h3>
      <ul class="list-unstyled row" data-bind="foreach: section1">
        <li class="col-sm-6">
          <p class="promptTextColor" data-bind="text: Name+':'"></p>
          <p class="mainTextColor" data-bind="text: Content"></p>
        </li>
      </ul>
    </div>

    <div class="boxShadow padding-20 contentStyle">
      <img class="pull-left" src="~/Resource/assets/images/icon_mark_newSale.png" />
      <h3>规划信息</h3>
      <ul class="list-unstyled row" data-bind="foreach: section2">
        <li class="col-sm-6">
          <p class="promptTextColor" data-bind="text: Name+':'"></p>
          <p class="mainTextColor" data-bind="text: Content"></p>
        </li>
      </ul>
    </div>

    <div class="boxShadow padding-20 contentStyle">
      <img class="pull-left" src="~/Resource/assets/images/icon_mark_newSale.png" />
      <h3>交易信息</h3>
      <ul class="list-unstyled row" data-bind="foreach: section3">
        <li class="col-sm-6">
          <p class="promptTextColor" data-bind="text: Name+':'"></p>
          <p class="mainTextColor" data-bind="text: Content"></p>
        </li>
      </ul>
    </div>

    <div class="boxShadow padding-20 contentStyle" data-bind="visible: section4().length>0">
      <img class="pull-left" src="~/Resource/assets/images/icon_mark_newSale.png" />
      <h3>其他</h3>
      <ul class="list-unstyled row" data-bind="foreach: section3">
        <li class="col-sm-6">
          <p class="promptTextColor" data-bind="text: Name+':'"></p>
          <p class="mainTextColor" data-bind="text: Content"></p>
        </li>
      </ul>
    </div>
  </div>

}

@section Script{
  <script>
    require(['../Resource/models/ZhiDiGongYeYongDiDetail'], function (vm) {
      vm.initialize();
    });
  </script>
}

