<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="height: 258px; width: 413px">
        <tr>
            <td>
                <div title="在图上显示该点" onclick="Instance('TANGRAM_115').select(0, {statCode:STAT_PANEL_SELECT})"
                     class="icon" id="no1">
                </div>
            </td>
            <td>
                
            </td>
        </tr>
                    <tr style="height: 5px">
                
            </tr>
    </table>
</body>
</html>
