@{
    ViewBag.Title = "智地数据在线注册";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
@section header
{
    <link rel="stylesheet" src=@Url.Content("../../Content/test.min.css") type="text/css"></link>
    <link rel="stylesheet" src=@Url.Content("../../Content/jquery.mobile.icons.min.css") type="text/css"></link>
    <link rel="stylesheet" src=@Url.Content("../../Content/jquery.mobile.structure-1.4.2.min.css") type="text/css"></link>
    <script type="text/javascript" src=@Url.Content("../../Scripts/jquery-1.10.2.js")></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src=@Url.Content("../../Scripts/jquery.mobile-1.4.2.min.js")></script>
    <script type="text/javascript" src=@Url.Content("../../Scripts/jquery.validate.js")></script>
    <link rel="stylesheet" href=@Url.Content("../../Content/jquery.mobile-1.4.2.min.css") type="text/css"></link>

    <script>
        $(document).ready(function() {
            $("#frmLogin").validate({
                rules: {
                    select: { min: 1 }
                },
                messages: {
                    select: { min: '必选' }
                },
                errorPlacement: function(error, element) { //指定错误信息位置 
                    if (element.is(':radio') || element.is(':checkbox')) {
                        var eid = element.attr('name');
                        error.appendTo(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function(form) {
                    console.log("Call Login Action");
                }
            });
            $("#submit").bind("click", function() {
                if ($("#phone").val() != "" && $("#email").val() != "" && $("#city").val() != "") {
                    $.ajax({
                        url: '@Url.Action("PostRegistrationApplication", "UserRegister")',
                        data: {
                            userName: $("#userName").val(),
                            phone: $("#phone").val(),
                            email: $("#email").val(),
                            industry: $("#industry").val(),
                            city: $("#city").val()
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(result) {
                            //alert(result["Result"] + "," + result["Info"]);
                            var tmpHtml = "<div data-theme='d' style='font color:red'>&nbsp;&nbsp;&nbsp;&nbsp;" + result["Info"] + "</div>";
                            $("#result").html(tmpHtml);
                            $('#submit').prop('disabled', "true");
                        },
                        fail: function(result) {
                            alert(result["Result"] + "," + result["Info"]);
                        }
                    });

                }
            });
            $.ajax({
                url: '@Url.Action("GetCityList", "UserRegister")',
                dataType: 'json',
                success: function(result) {
                    var tmpHtml = '';
                    $(result).each(function() {
                        tmpHtml = tmpHtml + '<option value="' + this['AreaPath'] + '">' + this['CityName'] + '</option>';
                    });
                    $("#city").html(tmpHtml);
                    //var html = "#city option[value = '" + result[0]['AreaPath'] + "']";
                    //$("#city").attr("value", );
                    //$(html).prop("selected");
                    //$("#city").val(result[0]['AreaPath']);
                    //$("#city option").eq(1).attr('selected', 'true');
                    //$("#city option:first").prop("selected", 'selected');

                }            
            });
            $.extend($.validator.messages, {
                required: "必选字段",
                remote: "请修正该字段",
                email: "请输入正确格式的电子邮件",
                url: "请输入合法的网址",
                date: "请输入合法的日期",
                dateISO: "请输入合法的日期 (ISO).",
                number: "请输入合法的数字",
                digits: "只能输入整数",
                creditcard: "请输入合法的信用卡号",
                equalTo: "请再次输入相同的值",
                accept: "请输入拥有合法后缀名的字符串",
                maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
                minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
                rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
                range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
                max: jQuery.validator.format("请输入一个最大为{0} 的值"),
                min: jQuery.validator.format("请输入一个最小为{0} 的值")
            });
        });

    </script>
}
    @section body{
        @*<div data-role="page">*@

            @*<div data-role="header"  data-theme="d" data-content-theme="b" style="background: #0180e3">
                <h5>智地数据在线注册</h5>
            </div><!-- /header -->*@

            @*<div data-role="content">*@
                <form id="frmLogin" action="forms-sample-response.php" method="get" data-ajax="false" class="ui-body ui-body-a ui-corner-all">
                    <fieldset>
                        <div data-role="fieldcontain">
                            <label for="city" >*所在城市</label>
                            <select name="city" id="city" class="select">
                                <option selected value="">请选择</option>
                            </select>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="industry" >*所属行业</label>
                            <select name="industry" id="industry" class="select">
                                <option selected value="金融">金融</option>
                                <option value="地产">地产</option>
                                <option value="政府">政府</option>
                                <option value="中介">中介</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="userName">*名&nbsp;&nbsp;&nbsp;&nbsp;称:</label>
                            <input type="text" name="userName" id="userName" value=""  class="required" />
                        </div>
				    
                        <div data-role="fieldcontain">
                            <label for="phone">*联系电话:</label>
                            <input type="text" name="phone" id="phone" value=""  class="required" />
			            
                        </div>
                        <div data-role="fieldcontain">
                            <label for="email">*EMail:</label>
                            <input type="text" name="email" id="email" value=""  class="required email" />
                        </div>
                        <div data-role="fieldcontain" data-theme="c" data-content-theme="c">
                            <button id="submit" type="submit" data-theme="c" name="submit" value="submit-value">提交信息</button>
                        </div>
                        <div data-role="fieldcontain" id="result" data-theme="d" data-content-theme="d" style="color:#F00">
                           
                        </div>
                    </fieldset>
                </form>
           @* </div><!-- /content -->*@

            @*　<div data-role="footer" data-theme="a" data-content-theme="a">
　　<h4>Page Footer</h4>
　</div><!-- /footer -->*@
        @*</div><!-- /page -->*@
    }
