@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
}

.ban {
  width: 430px;
  /*position: relative;*/
  overflow: hidden;
  /*margin: 10px auto 0 auto;*/
}

.ban2 {
  width: 430px;
  height: 310px;
  position: relative;
  overflow: hidden;
}

  .ban2 ul {
    position: absolute;
    left: 0;
    top: 0;
  }

    .ban2 ul li {
      width: 430px;
      height: 360px;
    }

.prev {
  float: left;
  cursor: pointer;
}

.num {
  height: 70px;
  overflow: hidden;
  width: 360px;
  position: relative;
  float: left;
}

.min_pic {
  /*padding-top: 10px;*/
  width: 430px;
}

.num ul {
  width: 880px !important;
  height: 70px !important;
  margin-left: 12px;
  position: absolute;
  left: 0;
  top: 0;
}


  .num ul li {
    width: 80px;
    height: 53px;
    margin-right: 20px;
    padding: 1px;
  }

    .num ul li.on {
       box-shadow: 0 2px 10px rgba(0,0,0,0.15) !important;
      /*border: 1px solid #eee;*/
      padding: 0;
    }

.prev_btn1 {
  width: 20px;
  text-align: center;
  height: 53px;
  /*margin-top: 40px;*/
  margin-right: 0px;
  cursor: pointer;
  float: left;
}

.next_btn1 {
  width: 20px;
  text-align: center;
  height: 53px;
  /*margin-top: 40px;*/
  cursor: pointer;
  float: right;
}

.prev1 {
  position: absolute;
  top: 220px;
  left: 20px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer;
}

.next1 {
  position: absolute;
  top: 220px;
  right: 20px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer;
}

.mhc {
  background: #000;
  width: 100%;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(Opacity=50);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.pop_up {
  width: 1020px;
  /*height: ;*/
  padding: 10px;
  background: #fff;
  position: fixed;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -255px;
  display: none;
  z-index: 99;
}

.pop_up_xx {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

.pop_up2 {
  width: 1020px;
  height: 500px;
  position: relative;
  overflow: hidden;
      float: left;
}

/*.pop_up2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
}*/

  .pop_up2 ul {
    position: absolute;
    left: 0;
    top: 0;
  }

    .pop_up2 ul li {
      width:1020px;
      /*height: 500px;*/
      float: left;
    }
