<div class="ban" id="demo1">
  <div class="ban2" id="ban_pic1">
    <!--<div class="prev1" id="prev1">
      <img src="Resource/components/carousel/assets/img/index_tab_l.png" width="28"
           height="51" alt="">
    </div>
    <div class="next1" id="next1">
      <img src="Resource/components/carousel/assets/img/index_tab_r.png" width="28"
           height="51" alt="">
    </div>-->
    <ul style="width: 5000px; height: 5000px; left: -1500px;" data-bind="foreach:data">
      <li style="float: left;">
        <a href="javascript:;">
          <img data-bind="attr:{ src: $data }" width="430" height="300" alt="">
        </a>
      </li>
    </ul>
  </div>
  <div class="min_pic">
    <div class="prev_btn1" id="prev_btn1">
      <img src="Resource/assets/images/left_arrow.png" width="20" height="53" />
    </div>
    <div class="num clearfix" id="ban_num1">
      <ul style="left: 0px;" data-bind="foreach:data">
        <li class="" style="float: left;">
          <a href="javascript:;">
            <img data-bind="attr:{ src: $data }" width="80" height="53" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="next_btn1" id="next_btn1">
      <img src="Resource/assets/images/right_arrow.png" width="20" height="53" />
    </div>
  </div>
</div>

<div class="mhc"></div>

<div class="pop_up" id="demo2">
  <div class="pop_up_xx"><img src="Resource/components/carousel/assets/img/chacha3.png" width="40" height="40" alt=""></div>
  <div class="pop_up2" id="ban_pic2">
    <div class="prev1" id="prev2">

      <img src="Resource/assets/images/left_arrow.png" />
    </div>
    <div class="next1" id="next2">
      <img src="Resource/assets/images/right_arrow.png" />
    </div>

    <ul style="width: 5000px;" data-bind="foreach:data">
      <li><a href="javascript:;"><img data-bind="attr:{ src: $data }" alt=""  ></a></li>
    </ul>
  </div>
</div>
<!--class="img-responsive"-->
<!--</body>-->
<!--</html>-->